<table>
  <tbody>
    <tr>
      <td><p>Welcome to Berlin Bikes!!</p></td>
    </tr>
    <tr>
      <td><p>First Name: <%= @first_name %></p></td>
      <td><p>Last Name: <%= @last_name %></p></td>
      <td><p>Account Email: <%= @email %></p></td>
    </tr>
  </tbody>
</table>