/* line 2, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
.header {
  margin-bottom: 30px;
}

/* line 5, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
h1, h2, .new-product {
  text-align: center;
}

/* line 8, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
td {
  padding-right: 25px;
}

/* line 11, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
#product-content {
  border: solid 1px;
  padding-left: 13px;
}

/* line 15, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
table {
  margin: 0 auto;
}

/* line 18, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
#product-color:nth-child(odd) {
  background: gray;
}

/* line 21, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
#product-features {
  background: white;
}

/* line 24, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
th {
  text-align: center;
}

/* line 27, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
.container {
  background-color: #231f20;
}

/* line 30, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
.content {
  background-color: #ffffff;
  padding-bottom: 100%;
}

/* line 34, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/products.css.scss */
header {
  margin-top: 1em;
}
/* line 1, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/static_pages.css.scss */
h1 {
  font-family: helvetica, san-serif;
}

/* line 5, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/static_pages.css.scss */
h2 {
  color: navy;
  font-family: helvetica, sans-serif;
}

/* line 10, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/static_pages.css.scss */
.container {
  background-color: #231f20;
}

/* line 13, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/static_pages.css.scss */
.content {
  background-color: #ffffff;
  padding-bottom: 100%;
}

/* line 17, c:/Users/Ryan/desktop/product/nameofapp/app/assets/stylesheets/static_pages.css.scss */
header {
  margin-top: 1em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

