
.header {
  margin-bottom: 30px;
}
h1, h2, .new-product {
	text-align: center;
}
td {
  padding-right: 25px;
}
#product-content {
  border: solid 1px;
  padding-left:13px;
}
table {
  margin: 0 auto;
}
#product-color:nth-child(odd) {
    background: gray;
}
#product-features {
  background: white;
}
th {
	text-align: center;
}
.container {
	background-color: #231f20;
}
.content {
	background-color: #ffffff;
	padding-bottom: 100%;
}