
.header {
  margin-bottom: 30px;
}
h1, h2, .new-product {
	text-align: center;
}

#product-content {
  border: solid 1px;
}
table {
  margin: 0 auto;
}
#product-design:nth-child(odd) {
    background: gray;
}
#product-features {
  background: white;
}
th {
	text-align: center;
}
.container {
	background-color: #231f20;
}
.content {
  background-color: #ffffff;
  height: 110%;
}
header {
  margin-top: 1em;
}
#product-content{
  width: 12em;
  height: 12em;
  text-align: center;
}
.product-spacing {
  padding: 1em;
}
#product-image {
  height: 100%;
  width: 100%;
}