h1 {
	font-family: helvetica, san-serif;
}

h2 {
	color: navy;
	font-family: helvetica, sans-serif;
}

.container {
	background-color: #231f20;
}
header {
	margin-top: 1em;
}
.jumbotron {
	padding: 0em;
}
.container-fluid {
	padding: 0em;
}
.carousel-size {
	height: 20em;
}
#sliding-image {
	width:100%;
	height: 100%;
}
#featured-header {
	padding-bottom: 2em;
}