html, body {
	height: 100%;
}
h1 {
	font-family: helvetica, san-serif;
}

h2 {
	color: navy;
	font-family: helvetica, sans-serif;
}

.container {
	background-color: #231f20;
}
.content {
	background-color: #ffffff;
	height: 110%;
}
header {
	margin-top: 1em;
}
